* {
    margin: 0;
    padding: 0;
    font-weight: lighter;
    font-family: Arial,serif;
    box-sizing:border-box;
}

body {
    background-color: whitesmoke;
}

.center {
    text-align: center;
}

header, main, footer {
    display: block;
    min-width: 28rem;
    max-width: 56rem;
    background-color: white;
    padding: 1rem;
    margin: 2rem auto;
    box-shadow: 6px 4px 6px 4px lightgray;
    border-radius: 0.3rem;
}

footer > * {
    text-align: center;
}

.container {
    background-color: white;
    padding: 1.5rem;
    width: 26rem;
    height: 32rem;
    display: inline-block;
    vertical-align: top;
    margin: 0.4rem;
    border: 1px solid lightgray;
}

.petDisplay {
    padding: 1.5rem;
    background-color: white;
    width: 26rem;
    height: 32rem;
    display: inline-block;
    vertical-align: top;
    margin: 0.4rem;
    border: 1px solid lightgray;
}

.center {
    text-align: center;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23rem;
    height: 18rem;
}

.imageContainer image {
    max-width: 21rem;
    max-height: 16rem;
}

.interactiveContainer {
    background-color: white;
    width: 6rem;
    height: 9rem;
    display: inline-block;
    vertical-align: top;
    margin: 0.25rem;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
}

.interactiveContainer:hover, .interactiveContainer:active, .interactiveContainer:focus,
.petDisplay:hover, .petDisplay:active, .petDisplay:focus{
    box-shadow: 0 0 5px 2px lightskyblue;
    border: 1px solid white;
    cursor: pointer;
}

.smallImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    margin: 0.45rem;
}

.small {
    max-width: 5rem;
    max-height: 5rem;
}

.statBar {
    margin: 2rem;
    padding: 1rem;
}
.stat {
    display: inline-block;
}

form {
    display: inline-block;
}

form > * {
    padding: 1rem;
    display: block;
}

.quitButton, .navButton, .actionButton, .confirmButton, .deadButton, .emptyButton {
    padding: 1rem;
    width: 12.45rem;
    display: inline-block;
    text-decoration: none;
    font-style: normal;
    margin: 0.4rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 2rem;
    color: whitesmoke;
    max-width: 17rem;
}

.confirmButton {
    background-color: forestgreen;
}

.quitButton {
    background-color: darkred;
}

.navButton {
    background-color: darkorange;
}

.actionButton {
    background-color: darkmagenta;
}

.deadButton {
    background-color: dimgray;
}

.emptyButton {
    background-color: white;
    color: white;
}

.quitButton:hover, .quitButton:active, .quitButton:focus,
.confirmButton:hover, .confirmButton:active, .confirmButton:focus,
.navButton:hover, .navButton:active, .navButton:focus,
.actionButton:hover, .actionButton:active, .actionButton:focus,
.deadButton:hover, .deadButton:active, .deadButton:focus{
    color: darkslategray;
    cursor: pointer;
}

.quitButton:hover, .quitButton:active, .quitButton:focus {
    background-color: indianred;
}

.confirmButton:hover, .confirmButton:active, .confirmButton:focus {
    background-color: limegreen;
}

.navButton:hover, .navButton:active, .navButton:focus {
    background-color: orange;
}

.actionButton:hover, .actionButton:active, .actionButton:focus {
    background-color: violet;
}

.deadButton:hover, .deadButton:active, .deadButton:focus {
    background-color: lightgray;
}

form > input, select {
    max-width: 18rem;
    margin: 1.4rem;
    font-size: 2rem;
}

img {
    max-width: 16rem;
    max-height: 16rem;
}

.name {
    font-weight: bold;
    font-style: normal;
    color: darkslategray;
    margin: 1.3rem;
}

.logo {
    font-size: 3rem;
    color: cornflowerblue;
    margin: 1rem;
    text-align: center;
}